<ion-view view-title="Playlists">
  <ion-content>

          <div class="row">
  <button ng-repeat="x in numbers2[0]" ng-click="change(0,$index)" class="col design" ng-bind="bind[0][$index]"></div>
  </button>
      <div class="row">
  <button ng-repeat="x in numbers2[1]" ng-click="change(1,$index)" class="col design" ng-bind="bind[1][$index]"></div>
  </button>
      <div class="row">
  <button ng-repeat="x in numbers2[2]" ng-click="change(2,$index)" class="col design" ng-bind="bind[2][$index]"></div>
  </button>
      <div class="row">
  <button ng-repeat="x in numbers2[3]" ng-click="change(3,$index)" class="col design" ng-bind="bind[3][$index]"></div>
  </button>
          </div>
     
  </ion-content>
</ion-view>

/*
function(0,$index)

$scope.name = fy  (i, number)
{
    content[number][i2] = abc;
};*/