<ion-view view-title="Flipgame">
    <ion-content>

        <div class="row">
            <!--ng-bind="bind[0][$index]"-->
            <div ng-repeat="x in numbers2[0]" ng-click="change(0,$index)" class="col design card" ng-class="{straight:test[0][$index] ,back: !test[0][$index] }" style="background-image:url({{bind[0][$index]}})"></div>
        </div>

        <div class="row">
            <div ng-repeat="x in numbers2[1]" ng-click="change(1,$index)" class="col design card" ng-class="{straight:test[1][$index] ,back: !test[1][$index] }" style="background-image:url({{bind[1][$index]}})"></div>
        </div>

        <div class="row">
            <div ng-repeat="x in numbers2[2]" ng-click="change(2,$index)" class="col design card" ng-class="{straight:test[2][$index] ,back: !test[2][$index] }" style="background-image:url({{bind[2][$index]}})"></div>
        </div>

        <div class="row">
            <div ng-repeat="x in numbers2[3]" ng-click="change(3,$index)" class="col design card" ng-class="{straight:test[3][$index] ,back: !test[3][$index] }" style="background-image: url({{bind[3][$index]}})"></div>
        </div>

        </div>
        <p>Correct pairs={{correct}}</p>
        <p text align="right">Time left={{time}}</p>
        <br>
        <button ng-click="reset()">Reset</button>


    </ion-content>
</ion-view>