/* Empty. Add your own CSS if you like */

.design {
    height: 63px;
    background-color: red;
    border: solid 1px;
}

.card {
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: 1s;
    transition: 1s;
}

.straight {
    
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
}

.back {
   
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    ms-transform: rotateY(180deg);
    moz-transform: rotateY(180deg);
}