/* Empty. Add your own CSS if you like */

.design {
    height: 79px;
   /* background-color: red;*/
    border: solid 1px;
}

.card {
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    background-position-x: 50%;
    background-position-y: 50%;
}


.straight {
    
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
}

.back {
   
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    ms-transform: rotateY(180deg);
    moz-transform: rotateY(180deg);
}
.bgimage
{
background-image: url(../img/bgimage2.jpg);
     background-image: url(../img/bgimage2.jpg);
  background-position-x: -37%;
  background-position-y: 8%;
}
.clock
{
background-color: darkgrey;
    opacity: 0.5;
    border: solid 1px;
      font-weight: 900;
     border-radius: 10px;
  border: 3px solid ;
}

.buttoncolor
{
color: indigo !important ;
}
.align
{
text-align: center;
}